<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <!-- This embeds the stored google cloud api key from secrets.properties file -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${GOOGLE_CLOUD_API_KEY}" />

        <!-- This embeds the version of Google Play services that the app was compiled with -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>
</manifest>